@tailwind base;
@tailwind components;
@tailwind utilities;

.font-pressStart {
  font-family: var(--font-press-start), monospace;
}

body {
  @apply min-h-screen bg-black text-white;
}

#__next {
  @apply min-h-screen;
}

.stage {
  position: relative;
}

@media (max-width: 640px) {
  .stage {
    min-height: 100vh;
    align-items: flex-start;
  }

  .stage-table {
    bottom: 95px;
  }

  .stage-tableImage {
    max-width: 800px;
  }

  .stage-text {
    top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .stage-textContent {
    font-size: 1.rem;
    line-height: 1.5;
  }

  .stage-mage {
    bottom: 100px;
  }

  .stage-mageImage {
    width: 700px;
    max-width: none;
  }

  .stage-controls {
    bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  
  }

  .stage-controlsInner {
    max-width: none;
  }

  .stage-corner {
    bottom: 9.5rem;
    left: 1rem;
    display: none;
  }
}
